/* Big screens */
@media (min-width: 1200px) {
    h1:not(.head-hero .logo-head .logo) {
        margin-left: 3rem;
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
        padding-top: 5rem;
    }

    .container {
        width: 95vw;
        height: 100%
    }

    .logo {
        margin-left: 0.6rem;
    }

    .hero-body {
        display: block;
        margin-top: 15rem;
        height: 100%
    }

    .hero-body .left .main-h1 {
        margin-left: 2rem;
    }

    .hero-body .left .main-h1 span:first-of-type {
        font-size: 4rem
    }

    .hero-body .left .main-h1 span:last-of-type {
        letter-spacing: 0.5rem;
        color: #f1f1f1;
        font-size: 1.7rem
    }

    .hero-body .right {
        width: 55%;
    }

    .hero-body .left {
        width: 40%
    }

    .hero-body .left div,
    .hero-body .right div:first-of-type {
        width: 35px;
        height: 35px;
        position: relative;
    }

    .hero-body .left div span,
    .hero-body .right div:first-of-type span {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: .5rem
    }

    .hero-body .right div:first-of-type {
        float: right;
    }

    .hero-body .text-area {
        width: 90%;
    }

    .hero-body .text-area p {
        font-size: 1rem;
        padding: 2rem 3rem 1rem 3rem;
        float: left;
    }

    .services .top > div,
    .services .bottom > div {
        height: 34vh;
    }

    .about-us p {
        padding: 0 18rem;
    }

    .testimonials .text-area {
        padding: 0 15rem;
        font-size: 0.8rem;
    }

    footer .footer-nav {
        width: 40%;

    }

    .address {
        text-align: right;

    }

    footer .address p {
        display: inline-block;
        padding-right: 3rem;
    }
}

/* Medium Monitors Screens  */
@media (max-width: 1199px) {
    .container {
        width: 95vw
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    h4 {
        padding: 7rem 1.4rem 0;
    }

    h4,
    .services .box2 h4 {
        font-size: 1.1rem;
    }

    .services .box2 h4 {
        padding: 6rem 1.4rem 0;
    }

    .hero-body .text-area {
        width: 90%;
    }

    .hero-body {
        margin-top: 15rem;
    }

    .hero-body .text-area p {
        font-size: 0.8rem;
        padding: 2rem 5rem;
        float: left;
    }

    .icon {
        padding-top: 5.5rem;
    }

    .main-h1 {
        margin: 0;
        text-align: left;
        width: 80%;
        padding: 0.8rem;
    }

    .hero-body .left .main-h1 span:first-of-type {
        font-size: 4rem
    }

    .hero-body .left .main-h1 span:last-of-type {
        margin-left: 1.5rem;
        font-size: 1.6rem;
        color: #e8e8e8;
        letter-spacing: 0.4rem
    }

    .hero-body .left div,
    .hero-body .right div:first-of-type {
        width: 35px;
        height: 35px;
        position: relative;
    }

    .hero-body .left div span,
    .hero-body .right div:first-of-type span {
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: .5rem
    }

    .hero-body .right div:first-of-type {
        float: right;
    }

    .hero-body .right {
        width: 55%;
    }

    .hero-body .left {
        width: 40%;
    }

    .hero-body .left .main-h1 {
        margin: 0;
        padding: 0
    }

    .hero-body .left h1 span:first-of-type {
        font-size: 2.5rem;
    }
    
    .content-right {
        margin: 3rem 0
    }
}

/* Mobile */
@media (min-width: 801px) and (max-width: 991px) {

    .hero-body .right,
    .hero-body .left {
        width: 40vw
    }

    .btn {
        margin: 0 auto;
        width: 70%
    }
    

    .hero-body .text-area {
        width: 80%;
    }

    .hero-body .text-area p {
        width: 100%;
        padding: 2rem ;
    }
    
    .about-us p,
    .testimonials .text-area {
        padding: 0 8rem;
        font-size: 0.8rem;
    }

    .testimonials cite {
        font-size: 0.6rem;
    }

    .welcome .content-right {
        width: 45vw;
        padding: 0 3rem;
    }

    .show-work img {
        width: 50%;
    }

    .show-work img:last-of-type {
        width: 10%;
        left: 21%;
    }
    
    .features .btn {
        width: 25%
    }


}

/* Old Mobiles with extra small screens */
@media (max-width: 800px) {
    * {
        float: none;
    }

    h3 {
        margin-bottom: 1rem;
    }
    
    h4,
    .services .box2 h4 {
        font-size: 0.7rem;
        padding: 4rem 0.4rem ;
    }

    .services .box2 h4 {
        padding: 4rem 0.5rem 0;
    }

    .btn {
        width: 45%;
        padding: 1rem;
    }

    .head-hero {
        background-position: top 30%;

    }

    .logo-head #main-nav {
        display: none;
    }

    .hero-body {
        margin-top: 6.5rem;
        height: 100%;
        width: 100%;
    }

    .hero-body .left,
    .hero-body .right {
        display: block;
        width: 100%;
        height: 50%;
    }

    .hero-body .left {
        margin-bottom: 2rem;
    }

    .main-h1 {
        width: 100%;
        text-align: center;
    }

    .hero-body .left .main-h1 span:first-of-type {
        font-size: 4.5rem;
    }

    .hero-body .left .main-h1 span:last-of-type {
        font-size: 1.2rem;
        letter-spacing: 0.7rem;
    }

    .hero-body .left div,
    .hero-body .right div:first-of-type {
        display: none;
    }

    .right {
        float: none;
        margin: 0 auto;
        height: 100%;
    }

    .right .text-area {
        display: block;
        float: none;
        margin: 0 auto;
    }

    .right .text-area p {
        font-size: 0.8rem;
        color: #eceaeae0;
        margin: 0 auto;
    }

    .img-left,
    .content-right {
        display: block;
        width: 100%;
    }

    .show-work img {
        width: 100%;
    }

    .show-work img:last-of-type {
        width: 20%;
        left: 0;
    }

    .show-work .btn {
        border: 0.2px solid rgba(255, 255, 255, 0.4)
    }

    .content-right .text-area {
        padding-top: 1rem;
    }



    .services .top > div,
    .services .bottom > div {
        height: 25vh;
    }

    .services .icon {
        padding-top: 5rem;
    }


    .about-us p {
        padding: 0 1rem;
    }

    .about-us .box {
        width: 8rem;
    }

    .about-us .box:last-of-type {
        margin-right: 0;
    }

    .about-us .icons {
        top: 0;
    }

    .about-us .icons cite {
        font-size: 0.7rem;
    }


    .testimonials .text-area {
        width: 100%;
        padding: 0 1rem;
        font-size: 0.8rem;
    }

    .testimonials cite {
        font-size: 0.75rem;
    }


    .newsletter form {
        width: 95% !important;
    }


    footer > div {
        display: block;
        width: 50%;
    }

    footer .footer-nav {
        margin: 0.25rem 0 0 0.5rem;
    }

    footer .footer-nav li {
        display: block;
        margin-bottom: 0.2rem;
    }

    footer .footer-nav li a {
        font-size: 0.5rem;
        padding: 0.5rem;
    }

    footer .address {
        margin: 0.25rem 0 0 0.5rem;
        font-size: 0.8rem;
        text-align: center;
        padding-top: 1rem;
    }

    .address p {
        display: block;
        padding-right: 1.5rem;
        margin-bottom: .5rem
    }


}
